<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="jquery.js"></script>
    <script src="auto.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <button id="change" type="button">Change Mode</button>
    <h1>AUTOMATIC MODE</h1>
    <br>
    <br>
    <button id="master" type="button">START/STOP AUTOMATIC MODE</button>
    <br>
    <br>
    <span>
        <p>Currently LED1 is </p><span id="led1">OFF</span>
    </span>
    <br>
    <span>
        <p>Currently LED2 is </p><span id="led2">OFF</span>
    </span>
    <br>
    <span>
        <p>Currently LED3 is </p><span id="led3">OFF</span>
    </span>
    <br>
    <span>
        <p>Currently LED4 is </p><span id="led4">OFF</span>
    </span>
    <br>
    <span>
        <p>Currently LED5 is </p><span id="led5">OFF</span>
    </span>
    <br>
</body>
</html>