<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="jquery.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <% if(mode=='manual'){ %>
        <h1>HI Manual</h1>
    <% } else { %>
        <h1>HI Automatic</h1>
    <% } %>
</body>
</html>