<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="jquery.js"></script>
    <script src="manual.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <button id="change" type="button">Change Mode</button>
    <h1>MANUAL MODE</h1>
    <br>
    <br>
    <span>
        <p>Currently LED1 is </p><span id="led1t">OFF</span>
        <br>
        <button id="led1" type="button">Change</button>
    </span>
    <br>
    <span>
        <p>Currently LED2 is </p><span id="led2t">OFF</span>
        <br>
        <button id="led2" type="button">Change</button>
    </span>
    <br>
    <span>
        <p>Currently LED3 is </p><span id="led3t">OFF</span>
        <br>
        <button id="led3" type="button">Change</button>
    </span>
    <br>
    <span>
        <p>Currently LED4 is </p><span id="led4t">OFF</span>
        <br>
        <button id="led4" type="button">Change</button>
    </span>
    <br>
    <span>
        <p>Currently LED5 is </p><span id="led5t">OFF</span>
        <br>
        <button id="led5" type="button">Change</button>
    </span>
    <br>
</body>
</html>