<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="jquery.js"></script>
    <script src="manual.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <button id="change" type="button">Change Mode</button>
    <h1>MANUAL MODE</h1>
    <br>
    <br>
    <span>
        <p id="led1t">Currently LED1 is OFF</p>
        <button id="led1" type="button">Change</button>
    </span>
    <br>
    <span>
        <p id="led2t">Currently LED2 is OFF</p>
        <button id="led2" type="button">Change</button>
    </span>
    <br>
    <span>
        <p id="led3t">Currently LED3 is OFF</p>
        <button id="led3" type="button">Change</button>
    </span>
    <br>
    <span>
        <p id="led4t">Currently LED4 is OFF</p>
        <button id="led4" type="button">Change</button>
    </span>
    <br>
    <span>
        <p id="led5t">Currently LED5 is OFF</p>
        <button id="led5" type="button">Change</button>
    </span>
    <br>
</body>
</html>